{% extends 'base.html' %}
{% block body %}

<td> First Number: </td> <td> <input type="text" name="numOne" /> </td>
     <td> Loan amount: </td> <td> <input type="text" name="A" /> </td>
   </tr>
   <tr>
     <td> Second Number: </td> <td> <input type="text" name="numTwo" /> </td>
     <td> Number of periodic payments: </td> <td> <input type="text" name="n" /> </td>
   </tr>
   <tr>
     <td> Periodic interest rate: </td> <td> <input type="text" name="i"/> </td>
   </tr>
 </table>
   <br>
 <input class="button" type="submit" formaction="/add" value="Add them!" />
 <input class="button" type="submit" formaction="/divide" value="Get my monthly loan payment" />
</form>

<p> {{display }} </p>
<p> {{ display }} </p>
<tr>
<p> {{ display2 }} </p>

<div style="clear:both;"></div>
{% endblock %}
